@page
@model razor_secret_santa.Pages.StartModel
@{
	ViewData["Title"] = "Секретный Санта";
}

<h1 class="text-center">Старт</h1>

@if (Model.state == "success")
{
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<strong>Успешно!</strong> Изменения успешно сохранены.
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}
@if (Model.state == "error")
{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>Ошибка!</strong> @Model.message
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<a class="btn btn-danger text-white mb-2" asp-page="/Control/ClearContext">Очистить</a>
<table class="table">
	<thead>
		<tr class="table-dark">
			<th scope="col">Группа</th>
			<th scope="col">Количество участников</th>
			<th scope="col">Зарегистрировано</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var group in Model.groups)
		{
			<tr>
				<th scope="row">@group.name</th>
				<td>@group.count</td>
				<td>@group.participatingCount</td>
				<td>
					<a class="btn btn-info text-white" asp-page="/Control/StartGroup" asp-route-group="@group.name">Старт</a>
					@if (group.participatingCount > 0)
					{
						<a class="btn btn-danger text-white" asp-page="/Control/ClearContext" asp-route-group="@group.name">Очистить</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>
